/*________ page404 ________*/
.wrapper-404 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 79%;
  margin: 0 auto;

  &-inform {
    padding-right: 5px;
    padding-top: 40px;
  }

  &-title {
    color: $orange;
    font-family: "Museo Sans Cyrl 100", "Helvetica", "Arial", sans-serif;
    font-size: 300px;
    text-transform: uppercase;
  }

  & h2 {
    color: #999999;
    font-family: "Museo Sans Cyrl 100", "Helvetica", "Arial", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
  }

  & strong {
    font-family: "Museo Sans Cyrl 900", "Helvetica", "Arial", sans-serif;
    font-size: 17px;
  }

  & p {
    font-family: "Museo Sans Cyrl 500", "Helvetica", "Arial", sans-serif;
    margin-bottom: 20px;

    & a {
      color: #999999;
      font-size: 15px;
      text-decoration: none;

      &:hover {
        color: $orange;
      }
    }
  }

  & .btn-def {
    padding: 10px 27px;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Merriweather", "Times New Roman", "Times", serif;
    font-size: 14px;
    color: $white;
    background: #4d4d4d;
    border-color: #4d4d4d;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    margin: 0 0 10px 0;
  }
}

@media only screen and (max-width: 1579px) {
  .wrapper-404-title {
    font-size: 200px;
    line-height: normal;
  }
}

@media only screen and (max-width: 1199px) {
  .wrapper-404-inform {
    margin-left: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .wrapper-404 {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .page-404 main {
    min-height: calc(100vh - 150px);
    display: flex;
    align-items: center;
  }

  .wrapper-404 {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    & h2 {
      line-height: normal;
    }

    &-inform {
      padding: 0;
      margin: 0;
    }
  }
}

@media only screen and (max-width: 575px) {
  .wrapper-404 {
    &-title {
      font-size: 100px;
    }

    & h2 {
      font-size: 34px;
    }

    & p {
      margin-bottom: 10px;
    }
  }
}
