.city-choice {
  position: relative;
  height: 48px;
  margin: 0 0 40px 0;

  &-input {
    width: 100%;
    height: 100%;
    padding: 0 50px 0 15px;
    background: transparent;
    border: 3px solid $gray-50;
    border-radius: 0;
    color: $gray-200;
    font-family: "Museo Sans Cyrl 300", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 40px;
  }

  &-button {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 42px;
    height: 42px;
    border: none;
    border-left: 3px solid $gray-50;
    border-radius: 0;
    background: center / 10px 10px url("../../assets/img/icons/arrow_down_black.svg") no-repeat;
    text-indent: -999999px;
    z-index: -1;

    &:hover {
      background: center / 10px 10px url("../../assets/img/icons/arrow_down_black.svg") no-repeat, $gray-100;
    }

    &:active {
      color: transparent;
      outline: none;
      border-color: $gray-50;
      border-width: 0 0 0 3px;
    }
  }
}

.buy {
  margin: 40px 0 0 0;

  .buy-place {
    margin: 30px 0;

    &-name {
      display: block;
      margin: 0 0 10px 0;
      color: $gray-700;
      font-family: "Museo Sans Cyrl 900", "Helvetica", "Arial", sans-serif;
      font-size: 17px;
      line-height: 24px;

      &:hover,
      &:focus {
        color: $orange;
        text-decoration: none;
      }
    }

    &-info {
      display: block;
      margin: 0 0 10px 0;
      color: $gray-700;
      font-family: "Museo Sans Cyrl 300", "Helvetica", "Arial", sans-serif;
      font-size: 15px;
      line-height: 24px;

      & a {
        color: $gray-700;
      }
    }
  }
}

.where-buy-map-buy {
  padding: 40px 0 0 0;

  .map-buy-places {
    height: 700px;
  }
}

@media screen and (max-width: 991px) {
  .where-buy-map-buy {
    padding: 40px 0 0 0;

    .map-buy-places {
      height: auto;
    }
  }
}

@media screen and (max-width: 767px) {
  .buy {
    margin: 0;
  }
}
