<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles/bootstrap.css")
    link(rel="stylesheet", href="styles/swiper.min.css")
    link(rel="stylesheet", href="styles/jquery.fancybox.min.css")
    link(rel="stylesheet", href="styles/main.css")
    title Каталог-3
  body
    include ../components/header.pug
    .container
      main
        .row
          .col-sm-12.col-lg-10.col-xl-9
            .site-breadcrumbs
              .site-breadcrumbs-item
                <a href="#">Главная</a> /
              .site-breadcrumbs-item
                <a href="#">Каталог</a> /
              .site-breadcrumbs-item
                <a href="#">Декорированный керамогранит</a> /
              .site-breadcrumbs-item
                span Агат
        h1.page-h1 Коллекция гранит стоун Агат
        .catalog-3
          .row
            .col-lg-8.col-xxl-9
              .swiper-catalog-wrapper
                .swiper-catalog
                  .swiper-wrapper
                    a(href="#").swiper-slide.swiper-catalog-slide
                      .swiper-catalog-slide-text
                        span.swiper-catalog-slide-text-heading 
                          |Готовые решения 
                        span.swiper-catalog-slide-text-subheading
                          |Коллекция Агат
                        p.swiper-catalog-slide-text-description
                          |Один из сильнейших конкурентов на российском рынке 
                          |строительных материалов – компания Керамика Будущего, 
                          |которая, несмотря на молодость все может.
                      .swiper-catalog-slide-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    a(href="#").swiper-slide.swiper-catalog-slide
                      .swiper-catalog-slide-text
                        span.swiper-catalog-slide-text-heading 
                          |Готовые решения 
                        span.swiper-catalog-slide-text-subheading
                          |Коллекция Агат
                        p.swiper-catalog-slide-text-description
                          |Один из сильнейших конкурентов на российском рынке 
                          |строительных материалов – компания Керамика Будущего, 
                          |которая, несмотря на молодость все может.
                      .swiper-catalog-slide-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    a(href="#").swiper-slide.swiper-catalog-slide
                      .swiper-catalog-slide-text
                        span.swiper-catalog-slide-text-heading 
                          |Готовые решения 
                        span.swiper-catalog-slide-text-subheading
                          |Коллекция Агат
                        p.swiper-catalog-slide-text-description
                          |Один из сильнейших конкурентов на российском рынке 
                          |строительных материалов – компания Керамика Будущего, 
                          |которая, несмотря на молодость все может.
                      .swiper-catalog-slide-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    a(href="#").swiper-slide.swiper-catalog-slide
                      .swiper-catalog-slide-text
                        span.swiper-catalog-slide-text-heading 
                          |Готовые решения 
                        span.swiper-catalog-slide-text-subheading
                          |Коллекция Агат
                        p.swiper-catalog-slide-text-description
                          |Один из сильнейших конкурентов на российском рынке 
                          |строительных материалов – компания Керамика Будущего, 
                          |которая, несмотря на молодость все может.
                      .swiper-catalog-slide-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    a(href="#").swiper-slide.swiper-catalog-slide
                      .swiper-catalog-slide-text
                        span.swiper-catalog-slide-text-heading 
                          |Готовые решения 
                        span.swiper-catalog-slide-text-subheading
                          |Коллекция Агат
                        p.swiper-catalog-slide-text-description
                          |Один из сильнейших конкурентов на российском рынке 
                          |строительных материалов – компания Керамика Будущего, 
                          |которая, несмотря на молодость все может.
                      .swiper-catalog-slide-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    a(href="#").swiper-slide.swiper-catalog-slide
                      .swiper-catalog-slide-text
                        span.swiper-catalog-slide-text-heading 
                          |Готовые решения 
                        span.swiper-catalog-slide-text-subheading
                          |Коллекция Агат
                        p.swiper-catalog-slide-text-description
                          |Один из сильнейших конкурентов на российском рынке 
                          |строительных материалов – компания Керамика Будущего, 
                          |которая, несмотря на молодость все может.
                      .swiper-catalog-slide-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    a(href="#").swiper-slide.swiper-catalog-slide
                      .swiper-catalog-slide-text
                        span.swiper-catalog-slide-text-heading 
                          |Готовые решения 
                        span.swiper-catalog-slide-text-subheading
                          |Коллекция Агат
                        p.swiper-catalog-slide-text-description
                          |Один из сильнейших конкурентов на российском рынке 
                          |строительных материалов – компания Керамика Будущего, 
                          |которая, несмотря на молодость все может.
                      .swiper-catalog-slide-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    a(href="#").swiper-slide.swiper-catalog-slide
                      .swiper-catalog-slide-text
                        span.swiper-catalog-slide-text-heading 
                          |Готовые решения 
                        span.swiper-catalog-slide-text-subheading
                          |Коллекция Агат
                        p.swiper-catalog-slide-text-description
                          |Один из сильнейших конкурентов на российском рынке 
                          |строительных материалов – компания Керамика Будущего, 
                          |которая, несмотря на молодость все может.
                      .swiper-catalog-slide-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    a(href="#").swiper-slide.swiper-catalog-slide
                      .swiper-catalog-slide-text
                        span.swiper-catalog-slide-text-heading 
                          |Готовые решения 
                        span.swiper-catalog-slide-text-subheading
                          |Коллекция Агат
                        p.swiper-catalog-slide-text-description
                          |Один из сильнейших конкурентов на российском рынке 
                          |строительных материалов – компания Керамика Будущего, 
                          |которая, несмотря на молодость все может.
                      .swiper-catalog-slide-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                  .d-flex.d-xxl-none.swiper-catalog-pagination
                  .d-none.d-lg-block.swiper-catalog-button.swiper-catalog-button-prev
                  .d-none.d-lg-block.swiper-catalog-button.swiper-catalog-button-next
                .d-none.d-xxl-block.swiper-thumbs
                  .swiper-wrapper
                    .swiper-slide.swiper-thumbs-thumb 
                      .swiper-thumbs-thumb-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    .swiper-slide.swiper-thumbs-thumb 
                      .swiper-thumbs-thumb-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    .swiper-slide.swiper-thumbs-thumb 
                      .swiper-thumbs-thumb-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    .swiper-slide.swiper-thumbs-thumb 
                      .swiper-thumbs-thumb-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    .swiper-slide.swiper-thumbs-thumb 
                      .swiper-thumbs-thumb-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    .swiper-slide.swiper-thumbs-thumb 
                      .swiper-thumbs-thumb-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    .swiper-slide.swiper-thumbs-thumb 
                      .swiper-thumbs-thumb-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    .swiper-slide.swiper-thumbs-thumb 
                      .swiper-thumbs-thumb-img(style="background-image:url(assets/img/sample-image-1.jpg)")
                    .swiper-slide.swiper-thumbs-thumb 
                      .swiper-thumbs-thumb-img(style="background-image:url(assets/img/sample-image-1.jpg)")
            .col-lg-4.col-xxl-3
              .characteristics-block
                span.characteristics-block-heading Конкурентые преимущества
                .characteristics-block-swiper
                  .swiper-wrapper
                    .characteristic
                      .characteristic-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                      .characteristic-text
                        .characteristic-heading
                          span Заголовок характеристики  
                        p.characteristic-description 
                          |Один из сильнейших конкурентов 
                          |на российском рынке строительных материалов – компания 
                          |Керамика
                    .characteristic
                      .characteristic-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                      .characteristic-text
                        .characteristic-heading
                          span Заголовок характеристики  
                        p.characteristic-description 
                          |Один из сильнейших конкурентов 
                          |на российском рынке строительных материалов – компания 
                          |Керамика
                    .characteristic
                      .characteristic-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                      .characteristic-text
                        .characteristic-heading
                          span Заголовок характеристики  
                        p.characteristic-description 
                          |Один из сильнейших конкурентов 
                          |на российском рынке строительных материалов – компания 
                          |Керамика
                    .characteristic
                      .characteristic-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                      .characteristic-text
                        .characteristic-heading
                          span Заголовок характеристики  
                        p.characteristic-description 
                          |Один из сильнейших конкурентов 
                          |на российском рынке строительных материалов – компания 
                          |Керамика
                    .characteristic
                      .characteristic-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                      .characteristic-text
                        .characteristic-heading
                          span Заголовок характеристики  
                        p.characteristic-description 
                          |Один из сильнейших конкурентов 
                          |на российском рынке строительных материалов – компания 
                          |Керамика
                    .characteristic
                      .characteristic-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                      .characteristic-text
                        .characteristic-heading
                          span Заголовок характеристики  
                        p.characteristic-description 
                          |Один из сильнейших конкурентов 
                          |на российском рынке строительных материалов – компания 
                          |Керамика
                    .characteristic
                      .characteristic-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                      .characteristic-text
                        .characteristic-heading
                          span Заголовок характеристики  
                        p.characteristic-description 
                          |Один из сильнейших конкурентов 
                          |на российском рынке строительных материалов – компания 
                          |Керамика
                    .characteristic
                      .characteristic-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                      .characteristic-text
                        .characteristic-heading
                          span Заголовок характеристики  
                        p.characteristic-description 
                          |Один из сильнейших конкурентов 
                          |на российском рынке строительных материалов – компания 
                          |Керамика
                  .d-none.d-lg-block.swiper-scrollbar
          include ../components/filter.pug
          .row.layout
            .col-12.col-sm-6.col-lg-4.col-xxl-3.layout-item-wrapper
              .layout-item
                .layout-item-content
                  .layout-item-thumb
                    a(href="#", style="background-image: url(assets/img/sample-image-1.jpg)").layout-item-thumb-img
                    a(href="#").layout-item-thumb-compare
                      i
                    a(href="#").layout-item-thumb-like
                      i
                  a(href="#").layout-item-name Травертин PGR Медовый Очень Хороший
                  .layout-item-select
                      i.layout-item-select-button
                      select
                        option 1200x1200
                        option 600x600
                        option 600x300
                  span.layout-item-price 
                    |
                    |
                    span 1 590
                      span.rubl ₽
                    |/м²
                  span.layout-item-availability В наличии
                  .layout-item-buy
                    .layout-item-buy-counter
                      input(type="text", value="1").layout-item-buy-counter-input
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-plus +
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-minus -
                    a(href="#").layout-item-buy-button Купить
            .col-12.col-sm-6.col-lg-4.col-xxl-3.layout-item-wrapper
              .layout-item
                .layout-item-content
                  .layout-item-thumb
                    a(href="#", style="background-image: url(assets/img/sample-image-1.jpg)").layout-item-thumb-img
                    a(href="#").layout-item-thumb-compare
                      i
                    a(href="#").layout-item-thumb-like
                      i
                  a(href="#").layout-item-name Травертин PGR Медовый
                  .layout-item-select
                      span 1200x1200
                  span.layout-item-price 
                    |
                    |
                    span 1 590
                      span.rubl ₽
                    |/м²
                  span.layout-item-availability В наличии
                  .layout-item-buy
                    .layout-item-buy-counter
                      input(type="text", value="1").layout-item-buy-counter-input
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-plus +
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-minus -
                    a(href="#").layout-item-buy-button Купить
            .col-12.col-sm-6.col-lg-4.col-xxl-3.layout-item-wrapper
              .layout-item
                .layout-item-content
                  .layout-item-thumb
                    a(href="#", style="background-image: url(assets/img/sample-image-1.jpg)").layout-item-thumb-img
                    a(href="#").layout-item-thumb-compare
                      i
                    a(href="#").layout-item-thumb-like
                      i
                  a(href="#").layout-item-name Травертин PGR Медовый
                  .layout-item-select
                      i.layout-item-select-button
                      select
                        option 1200x1200
                        option 600x600
                        option 600x300
                  span.layout-item-price 
                    span.layout-item-price-sale 1 990
                      span.rubl ₽ 
                      |
                      |
                    |
                    |
                    span 1 590
                      span.rubl ₽
                    |/м²
                  span.layout-item-availability В наличии
                  .layout-item-buy
                    .layout-item-buy-counter
                      input(type="text", value="1").layout-item-buy-counter-input
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-plus +
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-minus -
                    a(href="#").layout-item-buy-button Купить
            .col-12.col-sm-6.col-lg-4.col-xxl-3.layout-item-wrapper
              .layout-item
                .layout-item-content
                  .layout-item-thumb
                    a(href="#", style="background-image: url(assets/img/sample-image-1.jpg)").layout-item-thumb-img
                    a(href="#").layout-item-thumb-compare
                      i
                    a(href="#").layout-item-thumb-like
                      i
                  a(href="#").layout-item-name Травертин PGR Медовый
                  .layout-item-select
                      i.layout-item-select-button
                      select
                        option 1200x1200
                        option 600x600
                        option 600x300
                  span.layout-item-price 
                    span.layout-item-price-sale 109 990
                      span.rubl ₽ 
                      |
                      |
                    |
                    |
                    span 100 590
                      span.rubl ₽
                    |/м²
                  span.layout-item-availability В наличии
                  .layout-item-buy
                    .layout-item-buy-counter
                      input(type="text", value="1").layout-item-buy-counter-input
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-plus +
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-minus -
                    a(href="#").layout-item-buy-button Купить
            .col-12.col-sm-6.col-lg-4.col-xxl-3.layout-item-wrapper
              .layout-item
                .layout-item-content
                  .layout-item-thumb
                    a(href="#", style="background-image: url(assets/img/sample-image-1.jpg)").layout-item-thumb-img
                    a(href="#").layout-item-thumb-compare
                      i
                    a(href="#").layout-item-thumb-like
                      i
                  a(href="#").layout-item-name Травертин PGR Медовый
                  .layout-item-select
                      i.layout-item-select-button
                      select
                        option 1200x1200
                        option 600x600
                        option 600x300
                  span.layout-item-price 
                    |
                    |
                    span 1 590
                      span.rubl ₽
                    |/м²
                  span.layout-item-availability В наличии
                  .layout-item-buy
                    .layout-item-buy-counter
                      input(type="text", value="1").layout-item-buy-counter-input
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-plus +
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-minus -
                    a(href="#").layout-item-buy-button Купить
            .col-12.col-sm-6.col-lg-4.col-xxl-3.layout-item-wrapper
              .layout-item
                .layout-item-content
                  .layout-item-thumb
                    a(href="#", style="background-image: url(assets/img/sample-image-1.jpg)").layout-item-thumb-img
                    a(href="#").layout-item-thumb-compare
                      i
                    a(href="#").layout-item-thumb-like
                      i
                  a(href="#").layout-item-name Травертин PGR Медовый
                  .layout-item-surfaces
                    ul.layout-item-surfaces-list
                      li.layout-item-surfaces-list-item
                        .layout-item-surfaces-list-item-img-container
                          .layout-item-surfaces-list-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                      li.layout-item-surfaces-list-item
                        .layout-item-surfaces-list-item-img-container
                          .layout-item-surfaces-list-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                      li.layout-item-surfaces-list-item
                        .layout-item-surfaces-list-item-img-container
                          .layout-item-surfaces-list-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                      li.layout-item-surfaces-list-item
                        .layout-item-surfaces-list-item-img-container
                          .layout-item-surfaces-list-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .layout-item-select
                      i.layout-item-select-button
                      select
                        option 1200x1200
                        option 600x600
                        option 600x300
                  span.layout-item-price 
                    |
                    |
                    span 3 790
                      span.rubl ₽
                    |/м²
                  span.layout-item-availability В наличии
                  .layout-item-buy
                    .layout-item-buy-counter
                      input(type="text", value="1").layout-item-buy-counter-input
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-plus +
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-minus -
                    a(href="#").layout-item-buy-button Купить
            .col-12.col-sm-6.col-lg-4.col-xxl-3.layout-item-wrapper
              .layout-item
                .layout-item-content
                  .layout-item-thumb
                    a(href="#", style="background-image: url(assets/img/sample-image-1.jpg)").layout-item-thumb-img
                    a(href="#").layout-item-thumb-compare
                      i
                    a(href="#").layout-item-thumb-like
                      i
                  a(href="#").layout-item-name Травертин PGR Медовый
                  .layout-item-select
                      i.layout-item-select-button
                      select
                        option 1200x1200
                        option 600x600
                        option 600x300
                  span.layout-item-price 
                    span.layout-item-price-sale 10 990
                      span.rubl ₽ 
                      |
                      |
                    |
                    |
                    span 9 590
                      span.rubl ₽
                    |/м²
                  span.layout-item-availability.layout-item-availability-not-available Нет в наличии
                  .layout-item-buy
                    .layout-item-buy-counter
                      input(type="text", value="1").layout-item-buy-counter-input
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-plus +
                      a(href="#").layout-item-buy-counter-button.layout-item-buy-counter-minus -
                    a(href="#").layout-item-buy-button Купить
        include ../components/pagination.pug
    include ../components/footer.pug
    script(type="text/javascript" src="scripts/jquery.min.js")
    script(type="text/javascript" src="scripts/masonry.pkgd.min.js")
    script(type="text/javascript" src="scripts/swiper.min.js")
    script(type="text/javascript" src="scripts/script.js")