<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="styles/bootstrap.css")
    link(rel="stylesheet", href="styles/jquery.fancybox.min.css")
    link(rel="stylesheet", href="styles/main.css")
    title Готовые решения
  body
    include ../components/header.pug
    .container
      main
        .row
          .col-sm-12.col-lg-10.col-xl-9
            .site-breadcrumbs
              .site-breadcrumbs-item
                <a href="#">Главная</a> /
              .site-breadcrumbs-item
                span.
                  Готовые решения
        h1.page-h1 Готовые решения
        .catalog-2
          .row
            .grid
              .grid-sizer
              .grid-item.grid-big 
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Колла
              .grid-item
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Агат
              .grid-item
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Базальт
              .grid-item
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Вуд эго
              .grid-item.grid-tall
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Вуд классик
              .grid-item.grid-tall
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Калкатта
              .grid-item
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Ультра белый
              .grid-item
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Оксидо
              .grid-item
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Импередатор
              .grid-item
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Гранит
              .grid-item
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Савойи
              .grid-item
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Сэндстоун
              .grid-item
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Травертин
              .grid-item.grid-long
                a(data-fancybox="gallery" href="assets/img/sample-image-1.jpg").grid-item-content
                  .grid-item-overlay
                  .grid-item-img(style="background-image: url(assets/img/sample-image-1.jpg)")
                  .grid-item-text
                    span.grid-item-text-heading Цемент
    include ../components/footer.pug
    script(type="text/javascript" src="scripts/jquery.min.js")
    script(type="text/javascript" src="scripts/masonry.pkgd.min.js")
    script(type="text/javascript" src="scripts/swiper.min.js")
    script(type="text/javascript" src="scripts/jquery.fancybox.min.js")
    script(type="text/javascript" src="scripts/script.js")