<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title текстовая страница
    link(rel="stylesheet", href="styles/bootstrap.css")
    link(rel="stylesheet", href="styles/jquery.fancybox.min.css")
    link(rel="stylesheet", href="styles/main.css")
  body
    include ../components/header.pug
    .container
      main
        .col-sm-12.col-lg-8.col-xl-9.site-breadcrumbs
          .site-breadcrumbs-item
            <a href="#">Главная</a> /
          .site-breadcrumbs-item
            span.
                Текстовая страница
        h1.page-h1 заголовок 1
        .text-page.clearfix
          p.
            Один из сильнейших конкурентов на российском рынке 
            строительных материалов – компания Керамика Будущего, 
            которая, несмотря на молодость, уже успела выбиться 
            в лидеры среди производителей керамического гранита. 
            Открытие завода компании состоялось в начале сентября 
            2014 года в Калужской области. 
          p.
            Один из сильнейших конкурентов на российском рынке 
            строительных материалов – компания Керамика Будущего, 
            которая, несмотря на молодость, уже успела выбиться 
            в лидеры среди производителей керамического гранита. 
            Открытие завода компании состоялось в начале сентября 
            2014 года в Калужской области.
          h2 заголовок 2
          p.
            Один из сильнейших конкурентов на российском рынке 
            <a href="#">строительных материалов</a> – компания Керамика Будущего, которая, 
            несмотря на молодость, уже успела выбиться в лидеры среди 
            производителей керамического гранита. Открытие завода компании 
            состоялось в начале сентября 2014 года в Калужской области. 
          h3 заголовок 3
          ul
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
          ol
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
            li Пункт
          blockquote 
            p
              |Один из сильнейших конкурентов на российском рынке строительных 
              |материалов – компания Керамика Будущего, которая, несмотря на молодость, 
              |уже успела выбиться в лидеры среди производителей керамического гранита. 
              |Открытие завода компании состоялось в начале сентября 2014 года в Калужской области. 
            footer
              cite
                |Наталья Любимова
          img.left-image(src="assets/img/sample-image-1.jpg", alt="sampe image")
          h1 Изображение слева
          p Вскоре ему повстречался коварный составитель рекламных текстов, 
            |напоивший его языком и речью и заманивший в свое агенство, которое 
            |использовало его снова и снова в своих проектах. И если его не переписали, 
            |то живет он там до сих пор.Далеко-далеко за словесными горами в стране гласных 
            |и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах 
            |на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит 
            |по всей стране и обеспечивает ее всеми необходимыми правилами. 
          p Эта парадигматическая страна, в которой жаренные члены предложения залетают 
            |прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, 
            |ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного 
            |текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс 
            |предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, 
            |но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал 
            |инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, 
            |бросил он последний взгляд назад, на силуэт своего родного города Буквоград.
          p Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти 
            |в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких 
            |знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. 
            |Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. 
            |Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, 
            |на силуэт своего родного города Буквоград, на заголовок деревни Алфавит 
            |и на подзаголовок своего переулка Строчка.
          p Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти 
            |в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких 
            |знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. 
            |Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. 
            |Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, 
            |на силуэт своего родного города Буквоград, на заголовок деревни Алфавит 
            |и на подзаголовок своего переулка Строчка.
          p Вскоре ему повстречался коварный составитель рекламных текстов, напоивший его 
            |языком и речью и заманивший в свое агенство, которое использовало его снова 
            |и снова в своих проектах. И если его не переписали, то живет он там до сих пор.
            |Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 
            |Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 
            |Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
          img.right-image(src="assets/img/sample-image-1.jpg", alt="sampe image")
          h1 Изображение справа
          p Вскоре ему повстречался коварный составитель рекламных текстов, 
            |напоивший его языком и речью и заманивший в свое агенство, которое 
            |использовало его снова и снова в своих проектах. И если его не переписали, 
            |то живет он там до сих пор.Далеко-далеко за словесными горами в стране гласных 
            |и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах 
            |на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит 
            |по всей стране и обеспечивает ее всеми необходимыми правилами. 
          p Эта парадигматическая страна, в которой жаренные члены предложения залетают 
            |прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, 
            |ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного 
            |текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс 
            |предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, 
            |но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал 
            |инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, 
            |бросил он последний взгляд назад, на силуэт своего родного города Буквоград.
          p Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти 
            |в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких 
            |знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. 
            |Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. 
            |Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, 
            |на силуэт своего родного города Буквоград, на заголовок деревни Алфавит 
            |и на подзаголовок своего переулка Строчка.
          p Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти 
            |в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких 
            |знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. 
            |Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. 
            |Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, 
            |на силуэт своего родного города Буквоград, на заголовок деревни Алфавит 
            |и на подзаголовок своего переулка Строчка.
          p Вскоре ему повстречался коварный составитель рекламных текстов, напоивший его 
            |языком и речью и заманивший в свое агенство, которое использовало его снова 
            |и снова в своих проектах. И если его не переписали, то живет он там до сих пор.
            |Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. 
            |Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 
            |Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
          .responsive-table
              table
                tr
                  th Название
                  th Название
                  th Название
                  th Название
                tr
                  td Пункт
                  td Пункт
                  td Пункт
                  td Пункт
                tr
                  td 01.03.17
                  td 325 355,40
                  td
                    a(href="#") 235333 от 01.01.18
                  td
                    a(href="#") 235333 от 01.01.18
                tr
                  td 01.03.17
                  td 325 355,40
                  td
                    a(href="#") 235333 от 01.01.18
                  td
                    a(href="#") 235333 от 01.01.18
    include ../components/footer.pug
    script(type="text/javascript" src="scripts/jquery.min.js")
    script(type="text/javascript" src="scripts/masonry.pkgd.min.js")
    script(type="text/javascript" src="scripts/swiper.min.js")
    script(type="text/javascript" src="scripts/jquery.fancybox.min.js")
    script(type="text/javascript" src="scripts/script.js")