<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Где купить
    link(rel="stylesheet", href="styles/bootstrap.css")
    link(rel="stylesheet", href="styles/swiper.min.css")
    link(rel="stylesheet", href="styles/jquery.fancybox.min.css")
    link(rel="stylesheet", href="styles/main.css")
  body
    include ../components/header.pug
    main
      .container
        .row
          .col-sm-12.col-lg-10.col-xl-9
            .site-breadcrumbs
              .site-breadcrumbs-item
                <a href="#">Главная</a> /
              .site-breadcrumbs-item
                span.
                  Где купить
          .col-12
            h1.page-h1 Где купить
          .d-none.d-sm-block.col-6.col-lg-5.col-xl-4.col-xxl-3
            .city-choice
              i.city-choice-button
              select.city-choice-input
                option Выберите город
                option 600x600
                option 600x300
              //- input.city-choice-input(type="text", placeholder="Выберите город")
              //- input(type="submit", value).city-choice-button
      .map
        span.d-inline-block.d-sm-none.block-name.map-buy-name Где купить?
        .map-container(style="background-image: url(assets/img/sample-image-19.png)")
          .d-lg-none.map-container-scroll
        include ../components/map-tooltip.pug
        //- .map-buy.where-buy-map-buy
          .map-buy-places
            .swiper-wrapper
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
              .map-buy-places-item-wrapper
                .map-buy-places-item
                  span.map-buy-places-item-name Шоурум
                  span.map-buy-places-adress.
                    г. Москва, Пресненская набережная 12,
                    Башня Федерация "Восток"
            .d-none.d-lg-block.swiper-scrollbar
      .buy
        .container
          .row
            .col-12.col-sm-6.col-lg-3
              .buy-place
                a(href="#").buy-place-name Шоурум РОССИЯ, г. Москва
                span.buy-place-info Пресненская набережная 12, Башня Федерация "Восток"
                span.buy-place-info тел: 
                  a(href="tel:+7 495 789-45-16") +7 495 789-45-16
                span.buy-place-info 
                  a(href="mailto:msk@uralgres.com") msk@uralgres.com
            .col-12.col-sm-6.col-lg-3
              .buy-place
                a(href="#").buy-place-name Шоурум РОССИЯ, г. Москва
                span.buy-place-info Пресненская набережная 12, Башня Федерация "Восток"
                span.buy-place-info тел: 
                  a(href="tel:+7 495 789-45-16") +7 495 789-45-16
                span.buy-place-info 
                  a(href="mailto:msk@uralgres.com") msk@uralgres.com
            .col-12.col-sm-6.col-lg-3
              .buy-place
                a(href="#").buy-place-name Шоурум РОССИЯ, г. Москва
                span.buy-place-info Пресненская набережная 12, Башня Федерация "Восток"
                span.buy-place-info тел: 
                  a(href="tel:+7 495 789-45-16") +7 495 789-45-16
                span.buy-place-info 
                  a(href="mailto:msk@uralgres.com") msk@uralgres.com
            .col-12.col-sm-6.col-lg-3
              .buy-place
                a(href="#").buy-place-name Шоурум РОССИЯ, г. Москва
                span.buy-place-info Пресненская набережная 12, Башня Федерация "Восток"
                span.buy-place-info тел: 
                  a(href="tel:+7 495 789-45-16") +7 495 789-45-16
                span.buy-place-info 
                  a(href="mailto:msk@uralgres.com") msk@uralgres.com
            .col-12.col-sm-6.col-lg-3
              .buy-place
                a(href="#").buy-place-name Шоурум РОССИЯ, г. Москва
                span.buy-place-info Пресненская набережная 12, Башня Федерация "Восток"
                span.buy-place-info тел: 
                  a(href="tel:+7 495 789-45-16") +7 495 789-45-16
                span.buy-place-info 
                  a(href="mailto:msk@uralgres.com") msk@uralgres.com
            .col-12.col-sm-6.col-lg-3
              .buy-place
                a(href="#").buy-place-name Шоурум РОССИЯ, г. Москва
                span.buy-place-info Пресненская набережная 12, Башня Федерация "Восток"
                span.buy-place-info тел: 
                  a(href="tel:+7 495 789-45-16") +7 495 789-45-16
                span.buy-place-info 
                  a(href="mailto:msk@uralgres.com") msk@uralgres.com
            .col-12.col-sm-6.col-lg-3
              .buy-place
                a(href="#").buy-place-name Шоурум РОССИЯ, г. Москва
                span.buy-place-info Пресненская набережная 12, Башня Федерация "Восток"
                span.buy-place-info тел: 
                  a(href="tel:+7 495 789-45-16") +7 495 789-45-16
                span.buy-place-info 
                  a(href="mailto:msk@uralgres.com") msk@uralgres.com
            .col-12.col-sm-6.col-lg-3
              .buy-place
                a(href="#").buy-place-name Шоурум РОССИЯ, г. Москва
                span.buy-place-info Пресненская набережная 12, Башня Федерация "Восток"
                span.buy-place-info тел: 
                  a(href="tel:+7 495 789-45-16") +7 495 789-45-16
                span.buy-place-info 
                  a(href="mailto:msk@uralgres.com") msk@uralgres.com

    include ../components/footer.pug
    script(type="text/javascript" src="scripts/jquery.min.js")
    script(type="text/javascript" src="scripts/masonry.pkgd.min.js")
    script(type="text/javascript" src="scripts/swiper.min.js")
    script(type="text/javascript" src="scripts/jquery.fancybox.min.js")
    script(type="text/javascript" src="scripts/script.js")