body {
  font-family: "Museo Sans Cyrl-300", "Helvetica", "Arial", sans-serif;
}

main {
  margin: 0 0 80px 0;
}

.delete-margin {
  margin: 0;
}

p {
  margin: 0 0 30px 0;
  color: $gray-700;
  font-size: 15px;
  font-family: "Museo Sans Cyrl 300", "Helvetica", "Arial", sans-serif;
}

.page-h1 {
  margin: 0 0 35px 0;
  color: $gray-200;
  font-size: 34px;
  font-family: "Museo Sans Cyrl 300", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}

.page-p {
  margin: 0 0 30px 0;
  color: $gray-700;
  font-size: 15px;
  font-family: "Museo Sans Cyrl 300", "Helvetica", "Arial", sans-serif;
}

.header-page {
  display: flex;
  justify-content: space-between;

  & h1 {
    margin-right: 10px;
  }
}

/**Убрать стрелочки у number**/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/**End Убрать стрелочки у number**/

@media screen and (max-width: 575px) {
  .page-h1 {
    font-size: 25px;
    line-height: 32px;
  }
}
