form(action="").catalog-filter.catalog-filter-closed
  .catalog-filter-heading.catalog-filter-heading-closed
    span Подобрать по параметрам
  .row.justify-content-between
    .col-12.col-md-6.col-lg-4
      .catalog-filter-part
        span.catalog-filter-part-name Тип поверхности:
        .catalog-filter-surfaces
          label.catalog-filter-label
            input(type="checkbox").catalog-filter-checkbox
            .catalog-filter-img(style="background-image: url(assets/img/sample-image-1.jpg)")
          label.catalog-filter-label
            input(type="checkbox").catalog-filter-checkbox
            .catalog-filter-img(style="background-image: url(assets/img/sample-image-1.jpg)")
          label.catalog-filter-label
            input(type="checkbox").catalog-filter-checkbox
            .catalog-filter-img(style="background-image: url(assets/img/sample-image-1.jpg)")
          label.catalog-filter-label
            input(type="checkbox").catalog-filter-checkbox
            .catalog-filter-img(style="background-image: url(assets/img/sample-image-1.jpg)")
          label.catalog-filter-label
            input(type="checkbox").catalog-filter-checkbox
            .catalog-filter-img.catalog-filter-img-new(style="background-image: url(assets/img/sample-image-1.jpg)")
          label.catalog-filter-label
            input(type="checkbox").catalog-filter-checkbox
            .catalog-filter-img(style="background-image: url(assets/img/sample-image-1.jpg)")
          label.catalog-filter-label
            input(type="checkbox").catalog-filter-checkbox
            .catalog-filter-img(style="background-image: url(assets/img/sample-image-1.jpg)")
          label.catalog-filter-label
            input(type="checkbox").catalog-filter-checkbox
            .catalog-filter-img(style="background-image: url(assets/img/sample-image-1.jpg)")
          label.catalog-filter-label
            input(type="checkbox").catalog-filter-checkbox
            .catalog-filter-img(style="background-image: url(assets/img/sample-image-1.jpg)")
          label.catalog-filter-label
            input(type="checkbox").catalog-filter-checkbox
            .catalog-filter-img(style="background-image: url(assets/img/sample-image-1.jpg)")
          ul.catalog-filter-surfaces-characteristics-list
            li.catalog-filter-surfaces-characteristics-list-item Мягкое лаппатирование Lappato/LMR
            li.catalog-filter-surfaces-characteristics-list-item Второй тип поверхности
            li.catalog-filter-surfaces-characteristics-list-item Волшебный эффект
    .col-12.col-md-6.col-lg-2
      .catalog-filter-part
        span.catalog-filter-part-name Цвет:
        label.catalog-filter-container Белый
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
        label.catalog-filter-container Черный
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
        label.catalog-filter-container Светло-серый
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
        label.catalog-filter-container Темно-серый
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
        label.catalog-filter-container Голубой
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
        label.catalog-filter-container Желтый
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
        label.catalog-filter-container Песочный
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
    .col-12.col-md-6.col-lg-4
      .catalog-filter-part
        span.catalog-filter-part-name Размер:
        .catalog-filter-sizes
          label.catalog-filter-container 1200x1200
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 1200x600
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 1200x599
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 1200x398
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 1200x295
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 1200x195
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 1200x60
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 600x600
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 600x300
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 600x95
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 600x25
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 300x395
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 300x358
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 300x400
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 300x300
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 70x70
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
          label.catalog-filter-container 60x60
            input.catalog-filter-checkbox(type="checkbox")
            span.catalog-filter-checkmark
    .col-12.col-md-6.col-lg-2
      .catalog-filter-part
        span.catalog-filter-part-name Стиль:
        label.catalog-filter-container Классика
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
        label.catalog-filter-container Современный
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
        label.catalog-filter-container Модерн
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
        label.catalog-filter-container Хай-тек
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
        label.catalog-filter-container Эклектика
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
        label.catalog-filter-container Скандинавский
          input.catalog-filter-checkbox(type="checkbox")
          span.catalog-filter-checkmark
    .col-12
      .catalog-filter-buttons
        input.catalog-filter-button.catalog-filter-button-submit(type="submit", value="Подобрать")
        input.catalog-filter-button.catalog-filter-button-reset(type="reset", value="Сбросить")