footer.footer
  .subscribtion
    .container
      .d-flex.align-items-center.justify-content-center.flex-wrap
        .d-flex.justify-content-center.align-items-center.subscribtion-heading
          i.subscribtion-heading-icon
          span.subscribtion-heading-text Подпишитесь&nbsp;на&nbsp;новости:
        form.subscribtion-form
          input.subscribtion-form-input(type="email" placeholder="Ваш e-mail")
          input.subscribtion-form-button(type="submit" value="Подписаться")
  .container
    .separator.gradient
    .row.footer-content
      .d-none.d-lg-block.col-lg-9.col-xxl-6.footer-content-left
        .row
          .col.footer-content-column
            span.footer-content-column-heading.
              Керамика Будущего
            .footer-content-column-separator
            ul.footer-content-column-list
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  О компании
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Новости
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Преимущества 
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Реквизиты
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Отзывы
          .col.footer-content-column
            span.footer-content-column-heading.
              Покупателю
            .footer-content-column-separator
            ul.footer-content-column-list
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Политика конфиденциальности
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Как заказать
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Оплата и доставка
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Возврат
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Обратная связь
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Вопрос-ответ
          .col.footer-content-column
            span.footer-content-column-heading.
              Полезная информация
            .footer-content-column-separator
            ul.footer-content-column-list
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Статьи
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Сертификаты
              li.footer-content-column-list-item
                a.footer-content-column-list-item-link(href="#").
                  Способы укладки
      .col-lg-3.col-xxl-3.offset-xxl-3.footer-content-right 
        .row
          .col-md-7.col-lg-12
            span.footer-content-column-heading.
              Следите за нами в соцсетях
            .footer-content-column-links
              a.d-inline-block(href="#" target="blank")
                i.footer-content-column-links-icon.socials(style="background-image: url(assets/img/icons/youtube.svg)")
              a.d-inline-block(href="#" target="blank")
                i.footer-content-column-links-icon.socials(style="background-image: url(assets/img/icons/ok.svg)")
              a.d-inline-block(href="#" target="blank")
                i.footer-content-column-links-icon.socials(style="background-image: url(assets/img/icons/vk.svg)")
              a.d-inline-block(href="#" target="blank")
                i.footer-content-column-links-icon.socials(style="background-image: url(assets/img/icons/facebook.svg)")
              a.d-inline-block(href="#" target="blank")
                i.footer-content-column-links-icon.socials(style="background-image: url(assets/img/icons/twitter.svg)")
          .d-none.d-md-block.col.offset-md-1.offset-lg-0.footer-content-column
            span.footer-content-column-heading.
              Принимаем к оплате
            .footer-content-column-links
                i.d-inline-block.footer-content-column-links-icon.payment(style="background-image: url(assets/img/icons/visa.svg)")
                i.d-inline-block.footer-content-column-links-icon.payment(style="background-image: url(assets/img/icons/mastercard.svg)")
    .separator
    .row.justify-content-between.py-3
      span.col-auto.footer-copyright-info.
        ©  2018 Все права защищены.
      .col-auto.footer-copyright-developers
        span Разработка сайта — 
        a.footer-copyright-developers-link(href="#" target="blank") АйТи-Эскорт