.map-tooltip
  .map-tooltip-content
    .map-tooltip-content-img(style="background-image: url(assets/img/sample-image-20.png)")
    span.map-tooltip-content-place Шоурум РОССИЯ, г. Москва
    span.map-tooltip-content-description Пресненская набережная 12, Башня Федерация "Восток"
    span.map-tooltip-content-description тел: 
      a(href="tel:+7 495 789-45-16") +7 495 789-45-16
    span.map-tooltip-content-description 
      a(href="mailto:msk@uralgres.com") msk@uralgres.com