.row
  .col-12
    .site-pagination
      ul
        li
          a(href="#").site-pagination-arrow.site-pagination-prev
        li
          span 1
        li
          a(href="#") 2
        li
          a(href="#") ...
        li
          a(href="#") 11
        li
          a(href="#").site-pagination-arrow.site-pagination-next