#popup-payout.popup-payout
  span Вы планируете вывести 
    br
    |
    |
    |сумму
    |
    |
    span 120 000
      |
      |
      span.rubl ₽
  a(href="#") На карту
  a(href="#") На внутренний счет
  button.popup-payout-submit Вывести