.col-3.d-none.d-xl-block
  .side-menu
    ul 
      li 
        a(href="cabinet.html") Кабинет
      li
        a(href="profile.html") Профиль
      li
        a(href="#") Мои заказы
      li
        a(href="#") Заказы клиентов
      li
        a(href="#") Агенты
      li
        a(href="#") Выплаты